body {
    font-family: Arial, sans-serif;
    background-color: white;
}

nav a {
    margin-right: 10px;
    margin-top: 200px;
    margin-left: 20px;
    list-style-type: none;
    text-decoration: none;
    color: black;

   
}

nav a:hover{
color: darkkhaki;
}